@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
body{
  background-color: #EEEBDD;
}
a{
    text-decoration: none;
    color: white;
}
header .bg{
    width: 100%;
    height: 70px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    position:sticky ;
    top: 0px;
    background:#810000;
  }

header .title {
    color: #EEEBDD;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -45px;
}

header .back_bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 50px;
    border-radius: 25px;
}

header .back{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

}

@media (max-width:320px){
    header .title{
        margin-left: 40px;
    }
}

/* main section */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .title1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-size: 26px;
    font-weight: 600;
}

.container .img_place_holder{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .img_place{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #810000;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.container .bg1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #810000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    width: 700px;
    height: 450px;
    margin-top: 25px;
    z-index: 200;
}

.table tr{
    display: flex;
    justify-content: flex-start;
    font-size: 28px;
    padding: 15px;
    color: white;
}

.container .bg2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #B79494;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    width: 550px;
    height: 250px;
    margin-top: -35px;
    z-index: 100;
}

.container .chat_bg{
    background-color: #810000;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .chat{
    font-size: 24px;
    color: white;
}

.container .quiz_bg{
    background-color: #810000;
    width: 155px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .quiz{
    font-size: 14px;
    color: white;
}

@media (min-width:320px) and (max-width:768px){
    .container .bg1{
        width: 300px;
    }

    .container .bg2{
        width: 300px;
    }

    .table th{
        font-size: 18px;
    }
}