@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}
header {
    height: 1500px;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 10% 30% 12% auto ;
    justify-items: stretch;
    color: white;
}
.icon img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
#nav-bar {
    grid-row: 1/3;
    grid-column: 1/4;
    background-color: #2c225e;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 15% auto;
    align-items: flex-end;
}
nav {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.title {
    
    font-weight: bold;
}
#main-info {
    z-index: 9;
    grid-column: 2/3;
    grid-row: 2/4;
    background-color: rgb(107, 80, 242,0.3);
    border-radius: 60px;
    display: grid;
    grid-template-rows: auto 25% 35%;
    color: white;
    align-items: center;
    justify-items: center;
}
.img_place {
    width: 200px;
    height: 200px;
    cursor: pointer;
    grid-row: 1/2;
}
.img_place div {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 50%;
}
.bg1 {
    width: 100%;
    grid-row: 2/3;
}
#side-info {
    grid-column: 1/4;
    grid-row: 3/5;
    background-color: #1d1d1b;
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 35% auto;
}
.info {
    grid-row: 2/3;
    grid-column: 2/3;
}
.email {
    grid-row: 3/4;
    font-size: 1.1rem;
}

.name-age {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 15px 0;
}
.name-age1 {
    width: 100%;
    display: flex;
    font-size: 1.5rem;
}
.headline {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
}
@media (max-width:768px) {
    header,#nav-bar,#side-info {
        grid-template-columns: 5% auto 5%;
    }
    .img_place {
        width: 150px;
        height: 150px;
    }
}
footer {
    background-color: #DED9E1;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer div {
    margin: 0 20px;
}
.icon-like img{
    width: 40px;
    height: 40px;
    color: #2c225e;
}
.interests {
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;

}
.interst {
    display: inline;
    padding: 8px;
    background-color: #6b50f2;
    margin: 5px;
    border-radius: 10px;
}
#updateForm1 div,#updateForm2 div,#updateForm3 div {
    display: flex;
    flex-direction: column;
}
.modalForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form-div1,.form-div2 {
    width: 48%;
}
input {
    width: 100%;
}
#submit1,#submit2,#submit {
    margin-top: 20px;
}
@media (max-width:768px) {
    .form-div1,.form-div2 {
        width: 100%;
    }
    .form-div1 {
        margin-bottom: 40px ;
    }
}
.modal-content{
    background-color: #2c225e;
    color: white;
}
label {
    font-size: 1.1rem;
    margin: 10px 0;
}
.inputTxt {
    background-color:#2c225e ;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    color: white;
    border-radius: 8px;
}
input {
    margin: 10px 0;
}
.inputSubmit,.btn-primary {
    background-color: #1d1d1b;
    color: white;
    border-style: none;
    border-radius: 5px;
    height: 40px;
    width: 60%;
    margin: 0 20%;
}
.inputSubmit:hover,.btn-primary:hover {
    background-color: #6b50f2;
}
.txt {
    height: 40px;
}
.modal-header,.modal-footer {
    border-style: none;
}
.profile-img  {
    height: 300px;
    padding: 0;
}
.profile-img div {
    width: 100%;
    height: 100%;
    background-size: cover;
    padding: 16px;
    border-radius: 0 0 30px 30px;
}
.profile-body {
    padding: 35px;
}
.modal-body-head {
    display: flex;
    justify-content: space-between;
}
.modal-body-name,.modal-body-about,.modal-body-intrests{
    margin: 25px 0;
}
h5 {
    font-weight: bold;
}
