*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

/* header section */
#main {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
header{
    width: 100%;
}

header .bg{
    background-color: #810000;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .title {
    color: #EEEBDD;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* section 1 */

body{
    background: #EEEBDD;
}


/* section 2 */

.section2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.section2 .bg_all{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: black;
    border-radius: 45px;
}

.section2 .sec_place{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2 .rounded_img_place{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: #EEEBDD;
    border-radius: 50%;
    height: 120px;
    width: 120px;
}

.section2 .ano_name{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #EEEBDD;
    font-weight: 700;
    font-size: 28px;
    margin-top: 40px;
}

.section2 .comp_pour{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #EEEBDD;
    font-weight: 500;
    margin-top: 60px;
    font-size: 24px;
}

.section2 .age{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #EEEBDD;
    font-weight: 500;
    margin-top: 15px;
    font-size: 24px;
}

.section2 .birth_date{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #EEEBDD;
    font-weight: 500;
    margin-top: 15px;
    font-size: 24px;
}

/* Button continue */

.section2 .btn_bg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #810000;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    margin-top: 130px;
    margin-bottom: 70px;
}

.section2 .btn_txt{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEBDD;
    font-weight: 600;
}

/* button next person */

.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3 .btn_bg_2{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-radius: 10px;
    width: 150px;
    height: 35px;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
}

.sec3 .btn_txt_2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEEBDD;
    font-weight: 600;
}

@media (min-width:320px) and (max-width:768px) {
    #main {
        width: 100%;
        height: 500px;
        margin-top: -50px;
    }
    .section2 .bg_all {
        width: 90%;
        height:350px;
    }
    .section2 .rounded_img_place {
        height: 65px;
        width: 65px;
    }

    .section2 .ano_name ,.section2 .comp_pour ,.section2 .age ,.section2 .birth_date ,.section2 .btn_bg{
        font-size: 14px;
        margin: 10px;
    }

    .sec3 .btn_bg_2{
        margin-top: 5px;
    }
    .section1 .title_2{
        font-size: 25px;
    }
    .section1 .title_3 {
        font-size: 15px;
    }
}

/* footer */


footer .bg{
    background-color: #810000;
    height: 55px;
}

